@using Microsoft.AspNet.Identity
@using LMSFinalProject.DATA.EF;

@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        LMSFinalEntities1 db = new LMSFinalEntities1();

        string userID = User.Identity.GetUserId();

        UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();

        string userFN = "Guest";

        if (currentUser != null)
        {
            userFN = currentUser.FirstName;
        }

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + @*User.Identity.GetUserName()*@ userFN + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">&nbsp;&nbsp;Log off</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&nbsp;&nbsp;</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
