@model LMSFinalProject.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<h2 style="background-color: teal; padding-top:6em">EmailConfirmation</h2>

<p>
    We got your message, @Model.Name! Please see below <br /><br />
    @Model.Message
</p>