@{
    ViewBag.Title = "Home";
}


<section class="welcome_area clearfix" id="home" style="background-image: url(/Content/img/abbackground.jpg); width: auto;">
    <div>
        <!-- Single Hero Slides -->
        <div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                <h2 style="font-size:2em; font-family:'Lucida Bright'"><div style="font-size:45px">A.L.L.O.</div> (Annual Lesson Learning Objectives)</h2>
                <h4 style="font-size: 18px"><em>Helping you keep up-to-date on your training!</em></h4>

                <a class="slide-img" href="@Url.Action("Index","Courses")"><img src="~/Content/img/lightbuildimage2.jpg" alt="" style="width:65%; padding-top:2em"></a>

            </div>
        </div>
    </div>
</section>