@{
    ViewBag.Title = "Home";
}


<section class="welcome_area clearfix" id="home" style="background-image: url(/Content/img/abbackground.jpg); width: auto">
    <div @*class="hero-slides owl-carousel"*@>
        <!-- Single Hero Slides -->
        <div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                <h2 style="font-size:2em; font-family:'Bodoni MT' ">A.L.L.O. (Annual Lesson Learning Objectives)</h2>
                <h4 style="font-size: 20px">Helping you keep up-to-date on your training!</h4>
                <img class="slide-img" src="~/Content/img/lightbuildimage.jpg" alt="" style="width:60%">
            </div>
        </div>
        <!-- Single Hero Slides -->
        @*<div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                <h2>A Clean and Modern Template</h2>
                <h4>Get your freebie template now!</h4>
                <img class="slide-img" src="~/Content/img/bg-img/device.png" alt="">
            </div>
        </div>*@
    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Service Area Start ***** -->
<section class="mosh-service-area clearfix" style="padding-top:2em">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mosh-service-slides owl-carousel">
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>1</h2>
                        <h4>Workplace manners</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>2</h2>
                        <h4>Keeping a Clean Workspace</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>3</h2>
                        <h4>Open Communcation</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>4</h2>
                        <h4>Fire Drill</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>5</h2>
                        <h4>Group Meeting</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                    <!-- Single Service Area -->
                    <div class="single-service-area text-center">
                        <h2>6</h2>
                        <h4>Continued Education</h4>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</p>
                    </div>
                </div>
            </div>
            <!-- Discover More btn -->
            <div class="col-12 text-center mt-100" style="padding-bottom:2em">
                <a href="@Url.Action("Index","Courses")" class="btn mosh-btn">Courses</a>
            </div>
        </div>
    </div>
</section>
<!-- ***** Service Area End ***** -->

