
@{
    ViewBag.Title = "Lesson Completed";
}
<h2 style="padding-top:4em; padding-left:.9em">@ViewBag.Title</h2>
<div style="padding-left:2em">
    
    <h5 style="font-size:19px">You have completed the Lesson. Great Job!</h5>
    <br />
    <br />
    <h5 style="font-size:19px">Return to Courses</h5>
    <a href="@Url.Action("Index","Courses")" style="padding-bottom:2em">Courses</a>
    <br/>
</div>
